<div class="container">
    <form class="wrap-form" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
        <h2>Welcome User</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" #username="ngModel" [(ngModel)]="userservice.loginUser.username"
                name="username" placeholder="Username" maxlength="15" required
                [ngClass]="{'invalid-textbox' :signInForm.submitted && !username.valid }">
            <div *ngIf="signInForm.submitted && username.errors">
                <label *ngIf="username.errors.required" class="validation-message">Please give
                    username.</label></div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userservice.loginUser.password"
                name="password" placeholder="Password" minlength="3" maxlength="15" required
                [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
            <div *ngIf="signInForm.submitted && password.errors">
                <label *ngIf="password.errors.required" class="validation-message">This field is
                    required.</label>
                <label *ngIf="password.errors.minlength" class="validation-message">Enter correct password.</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div>
            <small id="signup" class="form-text text-muted">Not registered ?</small>
            <p (click)="signup()">Create Account</p>
        </div>
    </form>
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
        username or password is wrong.
    </div>
</div>