<div class="container">
    <form class="wrap-form" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <h2>Create Account</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" #username="ngModel" [(ngModel)]="userservice.selectedUser.username"
                name="username" placeholder="Username" maxlength="15" required
                [ngClass]="{'invalid-textbox' :signUpForm.submitted && !username.valid }">
            <div *ngIf="signUpForm.submitted && username.errors">
                <label *ngIf="username.errors.required" class="validation-message">Please give
                    username.</label></div>
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
                <label for="email@email.com">Password</label>
                <input type="text" class="form-control" #email="ngModel" [(ngModel)]="userservice.selectedUser.email"
                    name="email" placeholder="Email" maxlength="50" required [pattern]="emailRegex"
                    [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
                <div *ngIf="signUpForm.submitted && email.errors">
                    <label *ngIf="email.errors.required" class="validation-message">This field is
                        required.</label>
                    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email
                        address.</label>
                </div>
            </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userservice.selectedUser.password"
                name="password" placeholder="Password" minlength="6" maxlength="15" required
                [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
            <div *ngIf="signUpForm.submitted && password.errors">
                <label *ngIf="password.errors.required" class="validation-message">This field is
                    required.</label>
                <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 6
                    characters.</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
        <div>
            <small id="login" class="form-text text-muted">Already registered ?</small>
            <p (click)="login()">Login</p>
        </div>
    </form>
    <div>
        <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
        Account Created Please Login
    </div>
    
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>
    </div>
</div>